<strong>Olá, {{ student }}</strong>
<h4>Parabéns por se matricular na Gympoint</h4>
<p>Confira abaixo detalhes do seu plano</p>
<p>
  <strong>Plan: </strong> {{ plan}} <br />
  <strong>Duration: </strong> {{ duration}} <br />
  <strong>Start date: </strong> {{ start_date}} <br />
  <strong>End date: </strong> {{ end_date }} <br />
  <strong>Price: </strong> {{ price }} <br />
</p>
